<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Percentil Valuator</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <div id="app">
            <valuation-estimator></valuation-estimator>
        </div>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
